<app-post-form (newPost)="onNewPost($event)" [currentPost]="currentPost" [isEdit]="isEdit" (updatedPost)="onUpdatedPost($event)"></app-post-form>
<h5>Posts </h5>
<div class="card" *ngFor="let post of posts">
    <div class="card-body">
        <p>{{post.id}}</p>
        <h3> {{post.title}}</h3>
        <p>{{post.body}}</p>
        <hr>
        <button class="btn btn-danger mx-2"><i class="fa fa-remove" (click)="onDelete(post)"></i></button>
        <button class="btn btn-light mx-2" (click)="onEdit(post)"> <i class="fa fa-pencil"></i> </button>
    </div>
</div>